@model IEnumerable<LibreriaMVC.Models.Genero>

@{
    ViewData["Title"] = "Géneros";
}

<h1>Lista de géneros</h1>

<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">
        Crear un nuevo Género
    </a>
</p>
<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClaseCss)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@item.ClaseCss">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClaseCss)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="fa fa-fw fa-2x fa-eye" title="Ver detalles"></a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="fa fa-fw fa-2x fa-pencil text-warning" title="Editar"></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="fa fa-fw fa-2x fa-trash-o text-danger" title="Eliminar"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
