@model LibreriaMVC.Models.Autor

@{
    ViewData["Title"] = $"Autor - {Model.Apellido}, {Model.Nombre}";
}

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
        Editar
    </a>
    @*
        esto también se puede escribir de la siguiente manera:
    
        @Html.ActionLink("Editar", "Edit", "Autores", new { id = Model.Id })
        
        escrito de esta manera se está utilizando un Html Helper de Razor.
        Este helper construye un <a> y arma la ruta del href que finalmente se utiliza
        la parte "new { id = Model.Id }" indica que se pasa como parámetro al Controller una variable que se llama "id"
        Eso quiere decir que si nuestro <a> va a dirigirse hacia "Autores\Edit", en el controller de "Autores" debe haber 
        un método "Edit" y éste recibe un parámetro "id" como entrada
    *@
    <a asp-action="Index" class="btn btn-default">
        volver
    </a>
</div>
