@model LibreriaMVC.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnioPublicado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnioPublicado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Editorial.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
    </dl>

    <hr />
    <h3>Autores del libro</h3>
    <ul>
        @foreach (LibroAutor libroAutor in Model.Autores)
        {
            <li>@libroAutor.Autor.Apellido, @libroAutor.Autor.Nombre</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
